
/* GENERAL */
* { font-family: 'PT Sans', sans-serif; }
html { font-size: 18px; } html * { font-size: inherit;}
h1 { font-size: 1.5rem; } h2 { font-size: 1.4rem; } h3 { font-size: 1.3rem; } h4 { font-size: 1.2rem; } h5 { font-size: 1.1rem; } h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * { font-family: 'Overlock', cursive; }
a { color: inherit; }
a:hover { color: #66A; }
html, body { background: #232323; }
nav { background: #F4FFC3; }
nav #bar #logo { float: left; background: url('dd_logo.jpg') no-repeat; background-size: 100% 100%; width: 13.75rem; height: 3.5rem; }
nav #bar ul { float: right; margin-right: 1rem; }
nav #bar ul li { list-style: none; display: inline-block; float: left; margin-top: 0.4rem; padding: 0 1.5rem; line-height: 0.85rem; color: #028; cursor:pointer; border-right: 2px solid #028; }
nav #bar ul li:last-child { border-right: none; }
nav #bar ul li:hover { color: #68E; }
nav .banner { height: 12.5rem; background-size: 100% 100%; clear: both; }
main { display: block; position: relative; }
main, footer { background: #FAFEEE; overflow: hidden; border-radius: 8px; width: 65rem; margin: auto; }
footer { background: #545454; color: #A0A0A0; margin-top: 1.5rem; padding: 0rem; overflow: visible; }
footer * { padding: 0.5rem; }
footer #copy { display: inline-block; margin: 0.18rem; font-size: 85%; height: 1.25em; }
footer #contribute { font-size: 85%; display: none; border: 1px solid #AAA; background: black; padding: 0.25rem 0.5rem; color: white; border-radius: 4px; margin: -5rem; opacity: 0.85; }
footer #copy:hover #contribute { display: inline-block; }
fieldset { border: 0px; }
input[type="text"] { color: black; background: white; }
textarea { width: 100%; height: 14rem; background: white; color: black; resize: none; }
.sanscap, .sanscap * { font-family: 'PT Sans', sans-serif; text-transform: uppercase; font-size: 0.7rem; }
.smallcap, .smallcap * { font-family: 'Overlock SC', cursive; }
.fontlink, .fontlink * { color: #777; }
.fontlink:hover, .fontlink:hover * { color: #66A; }


#container { margin: 0px; padding: 0px; display: inline-block; box-sizing: border-box; }
#container * { box-sizing: border-box; }
.nav_target { padding: 0rem 0.5rem; margin: 0rem; margin-bottom: 0.5rem; }

#toggles { float: right; padding-right: 1rem; }
#toggles a { text-decoration: none; color: #888; font-size: 0.8rem; }
#toggles a:hover { color: #AAC; }

/* SIDEBAR */
#side_bar { float: left; width: 15rem; overflow: hidden; border-top-left-radius: 1rem; border-top-right-radius: 1rem; margin: -1rem 0.5rem; background: #DCE4BF; padding: 0.75rem; padding-bottom: 2em; }
#side_bar h2 { color: white; background: #59A43F; font-size: 1.5rem; margin-left: -1.5rem; margin-top: -1.65rem; padding: 1.125em 1.5em 0.525em 1.5rem; width: 18rem; cursor: pointer; }
#side_bar h2:hover { color: #FEC; }
#side_bar #user_block, #side_bar .dog_block { overflow: hidden; display: -webkit-flex; -webkit-align-items: flex-end; display: flex; align-items: flex-end; }
#side_bar #user_avatar { float: left; width: 4.5rem; height: 6rem; border-radius: 4px; margin-right: 1rem; background-size: cover; background-position: center center; cursor:pointer; }
#side_bar #user_name .name, #side_bar #dog_name  .name { font-size: 110%; font-weight: bold; }
#side_bar #pre_dog_block { margin-top: 1rem; }
#side_bar #pre_dog_block span { font-size: 1rem; font-weight: bold; }
#side_bar #pre_dog_block a { font-size: 0.8rem; margin-left: 3rem; }
#side_bar .dog_block { margin-top: 1rem; }
#side_bar #dog_avatar { cursor:pointer; float: left; width: 4.5rem; height: 6rem; margin-right: 1rem; border-radius: 4px; background-size: cover; background-position: center center; }
#side_bar .badges img { position: relative; width: 2rem; height: 2rem; margin-bottom: 0.5rem; margin-right: 0.25rem; opacity: 0.8; z-index: 1; }

/* HOME */
#home #pad { float: left; width: 9rem; height: 1em; }
#home #surveys_up_next { display: inline-block; padding-bottom: 2rem; }
#home .survey_token { cursor:pointer; width: 34rem; height: 6.65rem; border-radius: 1rem; overflow: hidden; margin-bottom: 1.5rem; color: #FFF; }
#home .survey_token div { width: 12rem; height: 100%; text-align: center; float: right; }
#home .survey_token a { font-size: 0.8rem; position: relative; }
#home .survey_token:hover a { color: #BCF; }
#home .survey_token .testing { opacity: 0.6; color: white; font-weight: bold; border: 1px solid #AAA; width: 5rem; padding-top: 0.25rem; height: 1.5rem; margin: 1rem; margin-right: 14.5rem; }
#home #surveys_completed { text-align: center; float: right; width: 12rem; margin-right: -0.5rem; padding-right: 0.5rem;
	background: -webkit-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: -o-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: -moz-linear-gradient(rgba(0,0,0,0.1), transparent);
	background: linear-gradient(rgba(0,0,0,0.1), transparent);
}
#home #surveys_completed .survey_token { width: 85%; height: 4.5rem; margin: auto; margin-bottom: 0.5rem; border-radius: 0.5rem; color: #DDD; }
#home #surveys_completed .survey_token #survey_name { font-size: 0.9rem; height: 1.8rem; margin-top: 0.4rem; }
#home #surveys_completed .survey_token a { font-size: 0.8rem; position: relative; }
#home .survey_selector { margin: 0em; padding: 0.75em; background: #FAFFEE; border: 1px solid #ABA; border-radius: 4px; position: fixed; display: none; z-index: 100; }
#home .survey_selector input { margin: 0em !important; }
#home .survey_token_thanks  { width: 34rem; margin-bottom: 1.5rem; }
#home .survey_token #survey_name { font-size: 1.4rem; margin: 1.35rem; margin-top: 0.85rem; margin-bottom: 0.5rem; height: 3.25rem;
	display: -webkit-flex; -webkit-align-items: center; -webkit-justify-content: center;
	display: flex; align-items: center; justify-content: center;
}
#home .begin { border: 4px solid #FAFEEE; border-radius: 6px; padding: 4px 12px; color: #EEE; text-align: center; }
#home .begin:hover { border-color: #FDA; color: #FFF; }
#home .begin.disabled { opacity: 0.8; color: #000; }
#home .begin.disabled:hover { border-color: #DDD; }

/* DOG / USER */
/* note: .profile = #user + #dog */
.profile #image_column { float: right; width: 9rem; margin-right: 3rem; margin-top: 3rem; }
.profile .msg { font-size: 0.8rem; text-align: center; width: 9rem; }
.profile fieldset { width: 25rem; }
.profile #new_image { width: 9rem; height: 12rem; border: 1px solid #AAA; background-size: cover; background-position: top center; }
.profile #buttons { width: 100%; }
#user .txtfield { width: 48%; }
#user .txtfield:last-child { float: right; }
#user input[name='email'] { width: 100%; }
#user textarea { height: 5rem; }
#dog fieldset#breed { width: 34rem; }
#dog input.breed { margin-bottom: 0.25rem; }
#dog #retire { font-size: 0.65rem; color: #444; border: 1px solid #888; border-radius: 0.2rem; padding: 0.2em 1rem; margin-left: 2rem; }

/* SPORTS */
#sports { padding-bottom: 0.5em; }
#sports #intro { width: 100%; text-align: left; margin: 1em; }
#sports .sport { display: inline-block; width: 20em; height: 9.45em; margin: 0.5em; border-radius: 2px; overflow: hidden; }
#sports .sport .img { width: 100%; height: 7.45em; background: grey; }
#sports .sport .name { color: #FFF; font-family: 'Overlock SC', cursive; font-size: 1.5rem; width: 100%; height: 2em; padding-left: 1rem; }
#sports #survey { background: #E9EDDD; border: 1px solid #D8DCCC; border-radius: 4px; margin-top: 2em; text-align: center; }
#sports #survey #intro { display: block; font-weight: bold; }
#sports #survey #answers { width: 100%; }
#sports #survey #answers span { font-weight: bold; padding: 0em 4em; background: #028; border-radius: 3px; margin: 0.5em; color: #CCC; }
#sports #survey #answers span:not(.checked):hover { background: #35C; color: #FFF; }
#sports #survey #answers span.checked { background: #082; color: #FFF; }
#sports .subsport { padding: 1em; margin-bottom: 0.5em; clear: both; }
#sports .subsport span { font-weight: bold; }
#sports .subsport span:after { content: ": "; }
#sports .subsport .links { float: right; padding: 0em 2em 1em 0em; }
#sports .subsport a { border-radius: 4px; padding: 0.1em 1em; text-decoration: none; color: #FFF; opacity: 0.65; }
#sports .subsport a:hover { opacity: 1.0; }
#sports .subsport .start { background: #1F8F09; }
#sports .subsport .start:before { content: "Getting Started: "; }
#sports .subsport .train { background: #7A3804; }
#sports .subsport .train:before { content: "Training: "; }
#sports .subsport .examp { background: #0063A7}
#sports .subsport .examp:before { content: "Example: "; }

/* CONTACT */
#reply_to { width: 65%; }


/* THANKS (post survey) */
#thanks { font-size: 1.5rem; width: 42rem; margin-right: 1rem; text-align: center; float: left; }
#thanks h3 { color: #028; }
#thanks .avatar { margin: 1rem; display: inline-block; width: 6rem; height: 8rem; background-size: cover; background-position: top center; border-radius: 4px; }
#thanks #user_avatar { margin-right: 2.5rem; }
#thanks #home_button { margin-top: 2rem; width: 2.7rem; height: 2.7rem; background: url('ui/home.png'); background-size: 100% 100%; display: inline-block; cursor:pointer; }

/* SURVEY */
/* TODO cleanup needed from here down */
#survey #question_banner { width: 100%; height: 2.5rem; border-radius: 0.5rem; color: white; margin: 1rem 0.25rem 0.5rem 0rem; vertical-align: center; }
#survey #question_banner span { font-size: 1.3rem; font-weight: bold; }
#survey #question_banner #balls { float: right; padding-top: 0.2rem; }
#survey .qball { display: inline-block; margin: 0.1rem; width: 0.9rem; height: 0.9rem; border: 0.2em solid white; background: white; border-radius: 0.5rem; opacity: 0.5; }
#survey .qball_filled { opacity: 1.0; }
#survey .qball_selected { background: #468; }

#survey .intro { font-size: 1.25rem; padding: 1.5rem; }
#survey .qstring .photo { float: left; width: 4.5rem; height: 6rem; margin-right: 1rem; border-radius: 4px; background-size: cover; background-position: center center; }
#survey .qstring .text { font-size: 1.25em; }
#survey .example { width: 40%; display: inline-block; vertical-align: top; }
#survey .example .image { width: 100%; border: 1px solid black; border-radius: 4px; }
#survey .question .comment { padding: 0rem 1rem 1rem 0.5rem; }
#survey .question .comment.hidden { display: none; }
#survey .comment textarea { height: 5rem; border: 1px solid #CCC; margin-top: 1rem; margin-bottom: -1rem; }
#survey .controls { height: 6rem; text-align: center; }
#survey .controls div { float: right; width: 4rem; height: 4rem; margin: 1rem; cursor:pointer; }
#survey .controls .comment_button { float: left; background-size: 20% 50% !important; padding-left: 2rem; width: 10rem; opacity: 0.65; background: url('ui/comment.png') no-repeat; background-size: 100% 100%; }
#survey .controls .comment_button span { display: none; color: #028; }
#survey .controls .comment_button:hover { opacity: 1.0; }
#survey .controls .back { background: url('ui/back.png') no-repeat; background-size: 100% 100%; }
#survey .controls .next { background: url('ui/next.png') no-repeat; background-size: 100% 100%; }
#survey .controls .start { background: url('ui/start.png') no-repeat; background-size: 100% 100%; }
#survey .controls #finish { border-radius: 2rem; width: 6.5rem; color: white; background: #2763A3; font-weight: bold; }

#survey .answer { display: inline-block; }
#survey .answer_multi, #survey .answer_choice { padding-bottom: 0.25rem; }
#survey .answer_choice .check { display: inline-block; width: 1rem; height: 1rem; border-radius: 0.05rem; border: 1px solid #888; background: white; margin: 0 1rem; }
#survey .answer_choice .check:hover { background: #FFF8E8; border: 3px solid #AAA; }
#survey .answer_choice .check.checked { background: #678; }
#survey .answer_likert { overflow: show; text-align: center; float: left; height: 7rem; }
#survey .answer_likert .text { margin: 1rem 0.25rem; height: 3rem; }
#survey .answer_likert .button { width: 1.5rem; height: 1.5rem; margin: auto; border-radius: 0.75rem; border: 1px solid #888; background: white; }
#survey .answer_likert .button:hover { background: #FFF8E8; border: 2px solid #AAA; }
#survey .answer_likert .button.checked {
	background: -webkit-radial-gradient(rgba(0,10,80,1) 40%, rgba(0,10,80,0) 65%);
	background: -o-radial-gradient(rgba(0,10,80,1) 40%, rgba(0,10,80,0) 65%);
	background: -moz-radial-gradient(rgba(0,10,80,1) 40%, rgba(0,10,80,0) 65%);
	background: radial-gradient(rgba(0,10,80,1) 40%, rgba(0,10,80,0) 65%);
}

/*
.answer_multi, .answer_choice { padding-bottom: 0.25rem; display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center; }
.answer_multi input { width: 5rem; margin: 0 1rem; }
.answer_choice .check { display: inline-block; width: 1rem; height: 1rem; border-radius: 0.05rem; border: 1px solid #888; background: white; margin: 0 1rem; }
.answer_choice .check:hover { background: #FFF8E8; border: 2px solid #AAA; margin-left: calc(1em - 1px); margin-right: calc(1em - 1px); }
.answer_choice .check.checked { background: #678; }
.answer_text textarea { width: 38rem; height: 4rem; margin-left: 1rem; }
.answer_text input { width: 8rem; margin-left: 16rem; }
*/

/* REVIEW */
#review .review_block { padding-bottom: 2em; }
#review .likert { display: inline-block;}
#review .likert .label, #review .likert .dogs { width: 100%; text-align: center; padding: 0.5em 0.25em; }
#review .likert .bar { width: 100%; height: 2em; }
#review .likert .bar.first { border-radius: 14px 0px 0px 14px; }
#review .likert .bar.last { border-radius: 0px 14px 14px 0px; }
#review .no_such { color: red; }

/*
#review_page .review_block { margin-bottom: 1.5rem; }
#review_page .review_block p { font-weight: bold; color: #026; }
#review_page .review_block canvas { width: 43rem; height: 10rem; margin-left: 1rem; }
#review_page .review_block .table_results { text-align: left; width: 43rem; border-spacing: 0; border-collapse: collapse; }
#review_page .review_block .table_results tr:first-child th { color: #028; cursor: pointer; }
#review_page .review_block .table_results tr:first-child th:first-child { color: black; cursor: auto; }
#review_page .review_block .table_results tr:first-child th { border-top: 2px solid black; border-bottom: 1px solid black; }
#review_page .review_block .table_results tr:last-child td { border-top: 1px solid black; border-bottom: 2px solid black; }
#review_page .review_block .table_results tr:last-child td:first-child { font-weight: bold; }
#review_page .review_block .table_results tr td { width: 4.5rem; }
#review_page .review_block .table_results tr td:first-child { width: 11rem; }
#review_page .review_block .table_footnotes { text-align: left; margin-top: 1rem; padding-left: 1rem; font-size: 0.75rem; line-height: 0.7rem; }
#review_page .review_block .table_footnotes tr th:first-child { width: 4rem; }
#review_page .review_block .table_footnotes tr td:first-child { color: #028; }
*/
